<div (click)="select($event)" title="Sélectionner" class="card theme-card">
  <img *ngIf="image" src="{{ image.path }}" class="card-img-top" alt="{{ image.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ theme.name }}</h5>
    <button
      *ngIf="editable"
      type="button"
      title="Modifier"
      (click)="edit($event)"
      class="btn btn-success theme-button">
      <fa-icon [icon]="editIcon"></fa-icon>
      Modifier
    </button>
    <button
      *ngIf="editable"
      type="button"
      title="Supprimer"
      (click)="delete($event)"
      class="btn btn-danger theme-button">
      <fa-icon [icon]="deleteIcon"></fa-icon>
      Supprimer
    </button>
  </div>
</div>
