<section class="admin-menu">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
      <div class="card" title="Lancer un quiz" routerLink="/guest-selection">
        <div class="card-body">
          <fa-icon [icon]="iconPlay" size="2x" class="card-icon"></fa-icon>
          <h5 class="card-title">Lancer un quiz</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" title="Gérer les images" routerLink="/admin/images">
        <div class="card-body">
          <fa-icon [icon]="iconImages" size="2x" class="card-icon"></fa-icon>
          <h5 class="card-title">Gérer les images</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" title="Gérer les quiz" routerLink="/admin/themes">
        <div class="card-body">
          <fa-icon [icon]="iconQuizzes" size="2x" class="card-icon"></fa-icon>
          <h5 class="card-title">Gérer les quiz</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" title="Gérer les accueillis" routerLink="/admin/guests">
        <div class="card-body">
          <fa-icon [icon]="iconGuests" size="2x" class="card-icon"></fa-icon>
          <h5 class="card-title">Gérer les accueillis</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" title="Voir les résultats" routerLink="/see-results/guest-selection">
        <div class="card-body">
          <fa-icon [icon]="iconResults" size="2x" class="card-icon"></fa-icon>
          <h5 class="card-title">Voir les résultats</h5>
        </div>
      </div>
    </div>
  </div>
</section>
