<section class="quiz-header">
  <div class="row">
    <div class="col">
      <h1 class="quiz-title">
        Sélectionner un quiz
      </h1>
      <button type="button" class="btn btn-secondary" (click)="selectRandomQuiz()">
        <fa-icon [icon]="randomIcon"></fa-icon>
        Lancer un quiz aléatoire
      </button>
    </div>
  </div>
</section>

<section class="quiz-list">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div *ngFor="let quiz of getQuizzes()" class="col">
      <app-quiz
        [quiz]="quiz"
        [editable]="false"
        (selectQuiz)="selectQuiz($event)">
      </app-quiz>
    </div>
  </div>
</section>

<section class="quiz-pagination">
  <div class="row justify-content-between">
    <div class="col">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize">
        <ng-template ngbPaginationFirst>Première</ng-template>
        <ng-template ngbPaginationLast>Dernière</ng-template>
        <ng-template ngbPaginationPrevious>Précédente</ng-template>
        <ng-template ngbPaginationNext>Suivante</ng-template>
      </ngb-pagination>
    </div>
    <div class="col-3">
      <select class="custom-select" [(ngModel)]="pageSize">
        <option [ngValue]="6">6 quiz par page</option>
        <option [ngValue]="9">9 quiz par page</option>
        <option [ngValue]="12">12 quiz par page</option>
        <option [ngValue]="15">15 quiz par page</option>
      </select>
    </div>
  </div>
</section>
