@import '~bootswatch/dist/superhero/variables';

ng-select {
  font-size: 1.2rem;
}

.ng-select .ng-select-container {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid transparent;
}

.ng-select.ng-select-single .ng-select-container {
  height: calc(1.5em + 0.75rem + 2px);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: #495057;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: #ffffff;
  background-color: $warning;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #ffffff;
  background-color: $primary;
}
